/* =========================
   VARIABLES
========================= */
:root {
    --color-primary: #BC155B;
    --color-secondary: #FF5C9C;
    --color-pink-light: #FFDBE9;
    --color-blue-primary: #11679C;
    --color-blue-secondary: #2DA5E1;
    --color-blue-light: #cae8f7;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* =========================
   FONTS
========================= */

@font-face {
    font-family: 'MonteCarlo';
    src: url(../assets/fonts/MonteCarlo-Regular.ttf);
}

@font-face {
    font-family: 'Diphylleia';
    src: url(../assets/fonts/Diphylleia-Regular.ttf);
}

/* =========================
   RESET & BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 20px;
}

body {
    font-family: verdana;
    background-color: var(--color-white);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 16pt;
    font-weight: 600;
    color: var(--color-primary);
    font-family: 'diphylleia';
}

h1 {
    font-family: 'diphylleia';
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--color-primary);
    line-height: 1.2;
    width: 100%;
}
h2 {
    font-family: 'diphylleia';
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: 2rem 0 2rem 4rem;
    width: 100%;
}

p {
    font-size: 12pt;
}

body.fonte-grande p {
    font-size: 16pt;
}

body.fonte-grande h1 {
    font-size: 5rem;
}

body.fonte-grande a {
    font-size: 16pt;
}

body.alto-contraste {
    background-color: #000000 !important;
    color: #FFFFFF !important;
}

body.alto-contraste section,
body.alto-contraste header,
body.alto-contraste footer,
body.alto-contraste div,
body.alto-contraste h1,
body.alto-contraste h2,
body.alto-contraste p,
body.alto-contraste a {
    background-color: #000000 !important;
    color: #FFFFFF !important;
    background-image: none !important;
    border-color: #FFFFFF !important;
}

body.alto-contraste .btn_CTA {
    background-color: #ffff00 !important;
    color: #000 !important;
}

body.alto-contraste .star,
body.alto-contraste .instagram,
body.alto-contraste .whatsapp,
body.alto-contraste .email,
body.alto-contraste .copyright {
    color: #FFFFFF;
}


/* =========================
   HEADER
========================= */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10rem 0 7rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--color-secondary);
}

header img {
    width: 20rem;
    cursor: pointer;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a {
    position: relative;
    padding: 0.5rem 0;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;

    width: 0%;
    height: 0.3rem;

    background-color: var(--color-secondary);
    border-radius: 1rem;

    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* =========================
   FOOTER
========================= */
footer {
    height: 50vh;
    padding: 2rem 10rem 8rem 10rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 1px solid var(--color-secondary);
    background-color: var(--color-pink-light);
}

footer img {
    width: 20rem;
}

/* =========================
   DROPDOWN
========================= */
.dropdown {
    position: relative;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0;
    display: inline-block;
    width: auto;
}

.dropdown-menu {
    position: absolute;
    top: 2.4rem;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--color-pink-light);
    padding: 1rem;
    border-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-menu a {
    color: var(--color-primary);
}

/*estado da setinha quando abre*/
.arrow {
  display: inline-block;
  transition: transform 0.3s ease;
}

.dropdown.active .arrow {
  transform: rotate(180deg);
}

/* estado aberto */
.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* =========================
   Site em  construção
========================= */
.site-construcao{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('../assets/img/grafismo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position-y: -8rem;
}

.site-construção h2 {
    color: #BC155B;
    font-size: 3rem;
    letter-spacing: 1px;
}

.site-construcao i{
    font-size: 10rem;
    position: relative;
    top: 2rem;
    right: 35rem;
    color: #BC155B;
    transform: rotate(0deg);
    animation: rotateIcon 2s ease-in-out infinite alternate;
}

@keyframes rotateIcon {
    50% {
        transform: rotate(15deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}

/* =========================
   MAIN CONTENT
========================= */
.content {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Text block */
.text {
    text-align: justify;
}

.assimetria-infor .text,
.card_torcicolo .text {
    width: 45%;
}

/* =========================
   APRESENTATION
========================= */
.apresentation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-radius: 2rem;
    padding: 4rem 4rem 8rem 4rem;
}

.card_apresentation {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    position: relative;
    left: 5rem;
}

.card_apresentation h2 {
    width: 85%;
    margin-left: -4rem;
}

.descritivo {
    width: 45%;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
}

.apresentation img {
    width: 36rem;
    height: 36rem;
    position: relative;
    right: 5rem;
}

.card_apresentation p {
    font-family: verdana;
    font-size: 12pt;
    color: var(--color-primary);

}

.card_apresentation h2 {
    width: 85%;

    font-family: 'diphylleia';
    font-size: 3rem;
    line-height: 1.2;
    color: var(--color-primary);
}

/* =========================
   CARD SECTION
========================= */
.assimetria {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 4rem;
    padding: 4rem;
    background-color: var(--color-blue-light);
}

.assimetria img {
    width: 36rem;
    height: 36rem;
}

.assimetria-infor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.torcicolo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 4rem;
    background-color: var(--color-pink-light);
}

.card_torcicolo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}



.torcicolo img {
    width: 36rem;
    height: 36rem;
}

.como-funciona{
    width: 100%;
    height: 100vh;
    padding: 4rem;
}

.como-funciona img{
    width: 36rem;
    height: 36rem;
}

/* =========================
   BUTTON
========================= */
.btn_CTA {
    width: 10rem;
    padding: 1rem;

    display: inline-block;
    text-align: center;

    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 1rem;

    transition: background-color 0.3s ease;
}

.btn_CTA:hover {
    background-color: var(--color-secondary);
}

/* =========================
   RELATOS
========================= */
.c-relatos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    padding: 6rem 4rem;
    /* Increased padding */
    width: 100%;
    background-color: var(--color-white);
    min-height: 100vh;
}

.relatos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    width: 80%;
    max-height: 16rem;
    /* Increased to avoid cutting text early */
    border: 1px solid var(--color-blue-secondary);
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    margin-bottom: 2rem;
    background-color: var(--color-blue-light);

    transition: max-height 0.6s ease, transform 0.3s ease;
    overflow: hidden;
    cursor: pointer;
}

.c-relatos h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.relatos .text {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
}

.relatos:hover {
    max-height: 1000px;
    /* Big enough to show all content */
    transform: translateY(-5px);
}

.relatos:hover .text {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}



.relatos:nth-child(even) {
    background-color: var(--color-pink-light);
    border: 1px solid var(--color-secondary);
}

/* =========================
   QUEM SOU
========================= */
.c-quem {
    display: flex;
    flex-direction: column;
    padding: 4rem;
    padding-bottom: 10rem;

    min-height: 100vh;
    background-color: var(--color-blue-light);
}

.quem-sou {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 100vh;
}

.content-text {
    width: 45%;
    color: var(--color-black);

}

.content-text p {
    margin-bottom: 2rem;
}

.quem-sou img {
    width: 36rem;
    height: 36rem;
    margin-right: 2rem;
}

/* =========================
   ESPECIALIZAÇÕES
========================= */
.cards-especializacao {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.card-container_esp {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.especializacao {
    width: 20%;
    min-height: 15rem;
    padding: 2rem;

    display: flex;
    justify-content: center;

    background-color: var(--color-secondary);
    border-radius: 2rem;
    border: 1px solid transparent;

    transition: transform 0.3s ease;
}

.card-experiencias {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.especializacao:hover {
    transform: scale(1.09);
}

.especializacao p {
    color: var(--color-black);
}

/* =========================
   FOOTER
========================= */

.footer-logo {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.footer-logo p {
    width: 25rem;
    height: auto;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Diphylleia';
}

.outros {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outros p {
    font-size: 10pt;
    font-family: 'Diphylleia';
}

.contatos {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin-top: 2.5rem;
}

.contatos a {
    font-size: 14pt;
    font-weight: 500;
    color: var(--color-black);
}



/* =========================
   ICONS
========================= */

.icon {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.8rem;
    padding-left: 1rem;
    gap: 0.4rem;
}

.icon b {
    margin-right: 1rem;
}

.star {
    color: var(--color-primary);
}

.copyright,
.email,
.instagram,
.whatsapp {
    color: var(--color-primary);
    padding: 0.8rem;
}


/* =========================
   ACESSIBILIDADE
========================= */

.accessibility {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 10;
}

.btn_accessibility {
    height: 4rem;
    width: 4rem;

    background-color: var(--color-primary);
    border: none;
    border-radius: 50rem;
    cursor: pointer;
    display: inline-block;

    margin-bottom: 0.8rem;

    text-align: center;
    font-size: 24pt;
    color: var(--color-white);
}

.options-accessibility {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;

    background-color: var(--color-secondary);
    border-radius: 2rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: all 0.3s ease;

}


.options-accessibility a {
    font-size: 14pt;
    padding: 0.8rem;
    color: var(--color-black);
}

/* estado aberto */
.accessibility.active .options-accessibility {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* =========================
   RESPONSIVIDADE
========================= */