/* =========================
   VARIABLES
========================= */
:root {
    --color-primary: #BC155B;
    --color-secondary: #FF5C9C;
    --color-pink-light: #FFDBE9;
    --color-blue-light: #cae8f7;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* =========================
   FONTS
========================= */

@font-face {
    font-family: 'MonteCalor';
    src: url(../assets/fonts/MonteCarlo-Regular.ttf);
}

@font-face {
    font-family: 'Diphylleia';
    src: url(../assets/fonts/Diphylleia-Regular.ttf);
}

/* =========================
   RESET & BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-white);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: larger;
}

h2 {
    font-family: 'diphylleia';
    font-size: 2rem;
    color: var(--color-primary);
    padding: 2rem 0;
    width: 100%;
}

span {
    margin-top: 1rem;
    font-weight: 700;
}

p {
    font-size: 12pt;
}

/* =========================
   HEADER
========================= */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10rem 0 7rem;
    background-color: var(--color-primary);
}

header img {
    width: 20rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a {
    position: relative;
    color: var(--color-white);
    padding: 0.5rem 0;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;

    width: 0%;
    height: 0.3rem;

    background-color: var(--color-secondary);
    border-radius: 1rem;

    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* =========================
   FOOTER
========================= */
footer {
    height: 20rem;
    padding: 5rem 10rem 0;

    display: flex;
    justify-content: space-between;

    background-color: var(--color-primary);
}

footer section img {
    width: 15rem;
}

/* =========================
   DROPDOWN
========================= */
.dropdown {
    position: relative;
}

.dropdown-btn {
    background: none;
    border: none;
    color: var(--color-white);
    font-size: larger;
    cursor: pointer;
    padding: 0.5rem 0;
}

.dropdown-menu {
    position: absolute;
    top: 2.4rem;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--color-white);
    padding: 1rem;
    border-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;

    width: 0%;
    height: 0.3rem;

    background-color: var(--color-secondary);
    border-radius: 1rem;

    transition: width 0.3s ease;
}

.dropdown:hover::after {
    width: 100%;
}

.dropdown-menu a {
    color: var(--color-primary);
    font-weight: 600;
}

.dropdown-menu a:hover {
    color: var(--color-secondary);
}

/* estado aberto */
.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* =========================
   MAIN CONTENT
========================= */
.content {
    margin-top: 5rem;
    padding: 0 10rem 0 9rem;

    /* background-image: url(../assets/img/grafismo.svg);
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position: 45rem -20rem; */
}

/* Text block */
.content .text {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

/* =========================
   APRESENTATION
========================= */
.apresentation {
    background-color: #000000;
    width: 100%;
    height: 40rem;
    padding: 2rem;
}

.apresentation img{
    width: 250px;
}


/* =========================
   CARD SECTION
========================= */
.content .card {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding-top: 4rem;
    margin-bottom: 8rem;
}

.card .img-curiosidades {
    width: 26rem;
}

.card .card-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.torcicolo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 30rem;
    padding: 2rem;
    border-radius: 2rem;
    background: var(--color-pink-light);
    transition: transform 0.3s ease;
}

.card_torcicolo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-torcicolo {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
}

.torcicolo img {
    width: 26rem;
}

.torcicolo:hover {
    transform: scale(1.09);
    box-shadow: 0 2px 12px #c2c2c2;
}

/* =========================
   BUTTON
========================= */
.btn_CTA {
    width: 10rem;
    padding: 1.5rem 0;

    display: inline-block;
    text-align: center;

    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 1rem;

    transition: background-color 0.3s ease;
}

.btn_CTA:hover {
    background-color: var(--color-secondary);
}

/* =========================
   RELATOS
========================= */
.c-relatos {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 10rem;
    justify-content: flex-start;
    align-items: flex-start;
}

.relatos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 48%;
    height: 30rem;
    background: var(--color-blue-light);
    padding: 1.2rem;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}

.relatos .text {
    font-style: italic;
    width: auto;
}

.bg_alternativo {
    background-color: var(--color-pink-light);
}

.img_relatos {
    width: 15rem;
}

.relatos:hover {
    transform: scale(1.09);
    box-shadow: 0px 2px 12px #c2c2c2;
}

.relatos:nth-child(even) {
  background-color: var(--color-pink-light);
}

/* =========================
   QUEM SOU
========================= */
.c-quem {
    display: flex;
    flex-direction: column;
}

.quem-sou {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 50rem;
    padding: 5rem;

    background-color: var(--color-pink-light);
    border-radius: 2rem;
}

.content-texte {
    width: 50%;
    color: var(--color-black);
}

.quem-sou img {
    width: 24rem;
    margin-left: 2rem;
}

/* =========================
   ESPECIALIZAÇÕES
========================= */
.cards-especializacao {
    display: flex;
    flex-direction: column;
}

.card-container_esp {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.especializacao {
    width: 20%;
    height: 15rem;
    padding: 2rem;

    display: flex;
    justify-content: center;

    background-color: var(--color-secondary);
    border-radius: 2rem;

    transition: transform 0.3s ease;
}

.especializacao:hover {
    transform: scale(1.09);
}

.especializacao p {
    color: var(--color-pink-light);
}

/* =========================
   RESPONSIVIDADE
========================= */