:root {
    --bg-primary: #BC155B;
    --bg-secondary: #FF5C9C;
    --bg-pink-white: #FFDBE9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    font-size: xx-large;
    color: var(--bg-primary);
    padding: 2rem;
}

header {
    padding-left: 7rem;
    padding-right: 10rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary);
    position: fixed;
    top: 0;
    width: 100%;
}

header img {
    width: 20rem;
    height: auto;
    margin: 0;
    padding: 0;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    height: 20rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-primary);
}

.content {
    padding-left: 9rem;
    padding-right: 10rem;
    margin-top: 5rem;
    background-image: url(../assets/img/grafismo.svg);
    background-repeat: no-repeat;
    background-size: 65rem;
    background-position-x: 45rem;
    background-position-y: -20rem;
}

.content .text {
    width: 60%;
    height: auto;
    text-align: justify;
    text-indent: 2rem;
}

.content .card {
    width: 100%;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.content .card img {
    width: 26rem;
}

.content .card .card-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content .card .torcicolo {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content .card .torcicolo .title-torcicolo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.content .btn_CTA {
    width: 10rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: var(--bg-secondary);
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    color: #ffffff;
    border-radius: 1rem;
}

.btn_CTA:hover {
    background: var(--bg-primary);
}

.content .c-resultados {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 5rem;
    flex-wrap: wrap;
}

.content .c-resultados .resultado {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.content .c-resultados .bg_alternative {
    background: var(--bg-pink-white);
}

.content .c-resultados .img_resultado {
    width: 15rem;
}

.content .c-quem {
    display: flex;
    flex-direction: column;
}

.content .card .quem-sou {
    display: flex;
    align-items: flex-start;
    background-color: var(--bg-secondary);
    padding: 5rem;
    height: 50rem;
    background-image: url(../assets/img/fisio.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: right;
    border-radius: 2rem;
}

.content .card .cards-especializacao {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-template-rows: repeat(3, 2fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    color: var(--bg-pink-white);
}

.content .card .especializacao {
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    background-color: var(--bg-secondary);
    padding: 3rem;
    height: 3rem;
    border-radius: 2rem;
}

.div1 { grid-area: 3 / 1 / 4 / 3; }
.div2 { grid-area: 1 / 1; }
.div3 { grid-area: 2 / 1; }
.div4 { grid-area: 1 / 2; }
.div5 { grid-area: 2 / 2; }

.quem-sou p {
    color: #FFDBE9;
    width: 50%;
}