/* =========================
   VARIABLES
========================= */
:root {
    --color-primary: #BC155B;
    --color-secondary: #FF5C9C;
    --color-pink-light: #FFDBE9;
    --color-blue-primary: #11679C;
    --color-blue-secondary: #2DA5E1;
    --color-blue-light: #cae8f7;
    --color-white: #ffffff;
    --color-black: #000000;
}

/* =========================
   FONTS
========================= */

@font-face {
    font-family: 'MonteCarlo';
    src: url(../assets/fonts/MonteCarlo-Regular.ttf);
}

@font-face {
    font-family: 'Diphylleia';
    src: url(../assets/fonts/Diphylleia-Regular.ttf);
}

/* =========================
   RESET & BASE
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 3rem;
}

body {
    font-family: verdana;
    background-color: var(--color-white);
    color: var(--color-black);
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 16pt;
    font-weight: 600;
    color: var(--color-primary);
    font-family: 'diphylleia';
}

h2 {
    font-family: 'monteCarlo';
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-primary);
    padding: 2rem 0 0 4rem;
    width: 100%;
}

p {
    font-size: 12pt;
}




/* =========================
   HEADER
========================= */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10rem 0 7rem;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid var(--color-secondary);
}

header img {
    width: 20rem;
}

header nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

header nav a {
    position: relative;
    padding: 0.5rem 0;
}

header nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.3rem;

    width: 0%;
    height: 0.3rem;

    background-color: var(--color-secondary);
    border-radius: 1rem;

    transition: width 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* =========================
   FOOTER
========================= */
footer {
    height: 20rem;
    padding: 2rem 10rem 8rem 10rem;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    border-top: 1px solid var(--color-secondary);
    background-color: var(--color-pink-light);
}

footer img {
    width: 20rem;
}

/* =========================
   DROPDOWN
========================= */
.dropdown {
    position: relative;
}

.dropdown-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 0;
}

.dropdown-menu {
    position: absolute;
    top: 2.4rem;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    background-color: var(--color-pink-light);
    padding: 1rem;
    border-radius: 0.8rem;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-menu a {
    color: var(--color-secondary);
}

.dropdown-menu a:hover {
    color: var(--color-secondary);
}

/* estado aberto */
.dropdown.active .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* =========================
   MAIN CONTENT
========================= */
.content {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Text block */
.content .text {
    width: 60%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

/* =========================
   APRESENTATION
========================= */
.apresentation {
    width: 100%;
    height: 40rem;
    border-radius: 2rem;
    padding: 4rem;
    margin-bottom: 4rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.apresentation.active {
    opacity: 1;
}

/* =========================
   CARD SECTION
========================= */
.assimetria {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 45rem;
    margin-top: 4rem;
    padding: 4rem;
    transition: transform 0.3s ease;
    background-color: var(--color-blue-light);
}

.assimetria img {
    width: 26rem;
}

.assimetria .assimetria-infor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.torcicolo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: 45rem;
    padding: 4rem;
    transition: transform 0.3s ease;
    background-color: var(--color-pink-light);
}

.card_torcicolo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.title-torcicolo {
    display: flex;
    justify-content: end;
    margin-right: 20rem;
}

.torcicolo img {
    width: 26rem;
}

/* =========================
   BUTTON
========================= */
.btn_CTA {
    width: 10rem;
    padding: 1.5rem 0;

    display: inline-block;
    text-align: center;
    top: 25rem;
    position: relative;

    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: 1rem;

    transition: background-color 0.3s ease;
}

.btn_CTA:hover {
    background-color: var(--color-secondary);
}

/* =========================
   RELATOS
========================= */
.c-relatos {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;

    padding: 4rem;
}

.relatos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 10rem;
    background-color: var(--color-blue-light);
    border: 1px solid var(--color-blue-secondary);
    padding: 2rem 2rem 4rem 2rem;
    border-radius: 2rem;
    transition: transform 0.3s ease;

    overflow: hidden;
}

.relatos .text {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    transition: all 0.3s ease;
    cursor: pointer;
}

.relatos .text:hover,
.relatos:hover {
    -webkit-line-clamp: unset;
    overflow: visible;
    height: auto;
}



.relatos:nth-child(even) {
    background-color: var(--color-pink-light);
    border: 1px solid var(--color-secondary);
}

/* =========================
   QUEM SOU
========================= */
.c-quem {
    display: flex;
    flex-direction: column;
    padding: 4rem;

    background-color: var(--color-pink-light);
}

.quem-sou {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 45rem;
    padding: 5rem;
}

.content-text {
    width: 70%;
    color: var(--color-black);
}

.content-text p {
    margin-bottom: 2rem;
}

.quem-sou img {
    width: 24rem;
    margin-left: 2rem;
}

/* =========================
   ESPECIALIZAÇÕES
========================= */
.cards-especializacao {
    display: flex;
    flex-direction: column;
}

.card-container_esp {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.especializacao {
    width: 20%;
    height: 15rem;
    padding: 2rem;

    display: flex;
    justify-content: center;

    background-color: var(--color-secondary);
    border-radius: 2rem;

    transition: transform 0.3s ease;
}

.especializacao:hover {
    transform: scale(1.09);
}

.especializacao p {
    color: var(--color-pink-light);
}

/* =========================
   FOOTER
========================= */

.logo{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.logo p{
    width: 20rem;
    height: auto;
    font-size: larger;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: 'Diphylleia';
}

.outros{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outros p{
    font-size: 10pt;
    font-family: 'Diphylleia';
}

.contatos{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    margin-top: 2.5rem;
}

.contatos a{
    font-size: 14pt;
    font-weight: 500;
    color: var(--color-black);
}



/* =========================
   ICONS
========================= */

.icon {
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0.8rem;
    padding-left: 1rem;
}

.star {
    color: var(--color-primary);
}

.copyright,
.email,
.instagram,
.whatsapp {
    color: var(--color-primary);
    padding: 0.8rem;
}



/* =========================
   RESPONSIVIDADE
========================= */